.loading {
   font-size: 30px;
   font-family: "Montserrat", sans-serif;
   font-weight: 800;
   text-align: center;
   span {
      display: inline-block;
      margin: 0 0.05em;
      color: #ff5d0a;
   }
}
.loading04 {
   span {
      animation: loading04 0.9s infinite;
      @for $i from 1 through 9 {
         &:nth-child(#{$i + 1}) {
            animation-delay: #{$i * 0.05}s;
         }
      }
   }
}
@keyframes loading04 {
   0%,
   100% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(15px);
   }
}
